    .menu_container {
        -fx-background-color: #ebebeb;
    }

    .menu_container Label {
        -fx-text-fill: #000000;
        -fx-font-size: 18px;
        -fx-font-weight: Bold;
    }

    .menu_container Button {
        -fx-background-color: #FFFFFF;
        -fx-background-radius: 5;
        -fx-text-fill: #000000;
        -fx-font-size: 18px;
        -fx-font-weight: Bold;
    }

    .menu_deposit_button {
        -fx-alignment: TOP_LEFT;
        -fx-background-color: #FFFFFF;
        -fx-background-radius: 5;
        -fx-text-fill: #000000;
        -fx-font-size: 24px;
        -fx-font-weight: Bold;
    }

    .left_menu_container {
        -fx-background-color: #003049;
        -fx-alignment: center;
    }

    .left_menu_container Text {
        -fx-font-size: 2.5em;
        -fx-fill: #FFFFFF;
        -fx-font-weight: 400;
    }

    .menu_card_container {
        -fx-background-color: #000000;
        -fx-background-radius: 5;
    }

    .menu_card_container Label {
        -fx-text-fill: #000000;
        -fx-font-size: 18px;
        -fx-font-weight: Bold;
    }

    .menu_withdrawal_container {
        -fx-background-color: #000000;
        -fx-background-radius: 5;
    }

    menu_withdrawal_container Text {
        -fx-font-size: 24px;
        -fx-fill: #000000;
    }

    .menu_withdrawal_container Button {
        -fx-background-color: #FFFFFF;
        -fx-background-radius: 5;
        -fx-text-fill: #000000;
        -fx-font-size: 16px;
        -fx-font-weight: Bold;
    }

    .menu_fast_withdrawal_button {
        -fx-background-color: #FFFFFF;
        -fx-background-radius: 5;
        -fx-text-fill: #000000;
        -fx-font-size: 16px;
        -fx-font-weight: Bold;
    }